*{
    box-sizing: border-box;
}

    /* .extra-info{
        background-color: red;
        float: right;
        padding: 15px;
        margin-top: 10px;
        
    } */

.weather-block{
    background-color: cyan;
    width: 250px;
    height: 150px;
    margin: 0%;
}

.weather-data{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
    color: indianred;
    font-weight: 900;
}


.addBtn{
    width: 20%;
    background-color: black;
    color: slategrey    ;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    margin: 0px;
    border-radius: 4px;
}

ul{
    display: inline-block;  
}

ul li.task-list{
    position: relative;
    padding: 20px 8px 12px 10px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

     /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.giphy-image{
    width: 150px;
    height: 150px;
}


  .profile{
    width: 70%;
    padding: 1px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .profileBtn{
    width: 70%;
    background-color: darkgrey;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: 0px;
    border-radius: 4px;
  }

  .saveBtn{
    width: 70%;
    background-color: seagreen;
    color: black    ;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: 0px;
    border-radius: 4px;
  }


  /* Design Completed Task List */

  .myCompletedTaskList{
    background: skyblue;;
    padding: 20px;
  }


  /* Header Design */

/* Inner Header Design */
.innerHeader{
  margin-top: 20px;
}

.innerHeader:after{
    content: "";
    clear: both;
    margin: 10px;
}
.innerHeaderLink{
  background-color: cornflowerblue;
  border: none;
  float: none;
  color: black;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
}

.listHeader{
  float: left;
}
.leftSide{
  width: 80%;
}

.rightSide{
  width: 20%;
  background-color: cornflowerblue;
}
.innerHeader .listHeader{
  display: none;
}

.innerHeader div:target {
display: block;
}

ol{
  width: 60%;
  background-color: cyan;
  padding: 10px;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.header{
  margin: 0;
}

/* Profile Design */

.userProfile{
  background-color: antiquewhite;
  width: 70%;
  font-weight: 800;
}

.userDetails{
  margin: 10px;
}

.userProfile input[type=text]{
width:200px;
display: inline-block;
border: 2px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.userProfile input[type=button]{
width:290px;
padding: 12px 110px;
margin: 0px 20px 0px 0px;
margin-left: 60px;
display: inline-block;
border: 2px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
background-color: coral;
}


/* View Task Design */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 40px;
  width: 55%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


button{
  border: none;
  color: black;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
}

button[type=edit]{
  background-color: cornflowerblue;
}




.editBtn{
  background-color: cornflowerblue;
  border: none;
  color: black;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
}

.editBtn:hover{
  background-color: blue;
}

.completeBtn{
  background-color: lawngreen;
  border: none;
  color: black;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
}

.completeBtn:hover{
  background-color: green;
}

.removeBtn{
  background-color: tomato;
  border: none;
  color: black;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
}

.removeBtn:hover{
  background-color: red;
}


@media screen and (max-width: 900px) {
  .innerHeader{
    width: 100%;
  }

  .innerHeaderLink{
    margin-top: 10px;
    float: left;
  }

  .rightSide{
    width: 100%;
  }
  
  .leftSide{
    width: 100%;
  }
  
  .header{
    width: auto;
  }

  .header input{
    width: auto;
  }
  .header button{
    width: auto;
  }

  .userProfile input{
    width: auto;
  } 
  
  table{
    width: auto;
  }

  .weather-block{
    width: auto;
    height: auto;
  }

  .weather-data{
    width: auto;
    padding: auto;
  }

  .giphy-image{
    width: auto;
    height: auto;
  }
}

